.container  {
    width: 60%;
    margin-top: 5rem;
}

@media only screen and (max-width: 1850px) {
    .container  {
        width: 70%;
        margin-top: 5rem;
    }
  }

  @media only screen and (max-width: 1250px) {
    .container  {
        width: 80%;
        margin-top: 5rem;
    }
  }

  @media only screen and (max-width: 950px) {
    .container  {
        width: 90%;
        margin-top: 5rem;
    }
  }